if status is-interactive

set PATH ~/bin ~/.local/bin ~/.deno/bin ~/go/bin ~/.cargo/bin $PATH

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ end }}

# XDG Base Directory
set -x XDG_CONFIG_HOME $HOME/.config
set -x XDG_CACHE_HOME $HOME/.cache
set -x XDG_DATA_HOME $HOME/.local/share
set -x XDG_STATE_HOME $HOME/.local/state

# Fish paths
set -x FISH_CONFIG_DIR $XDG_CONFIG_HOME/fish
#set -x FISH_COMPLETIONS_DIR $FISH_CONFIG_DIR/completions
set -x FISH_FUNCTIONS_DIR $FISH_CONFIG_DIR/functions
set -x FISH_CACHE_DIR $XDG_CACHE_HOME/fish

abbr --add f ghf

# git
abbr --add gst 'git status'
abbr --add ga 'git add'
abbr --add gc 'git commit'
abbr --add gp 'git push'
abbr --add gpu 'git push --upstream-origin origin HEAD'
abbr --add gl 'git pull'
abbr --add gs 'git switch'
abbr --add gsc 'git switch -c'
abbr --add gitskk 'git add dot_skkeleton && git commit -m "feat: add skk dictionary"'

# gh
abbr --add gas 'gh auth switch'

# some more ls aliases
abbr --add ll 'ls -alF'
abbr --add la 'ls -A'
abbr --add l 'clear && ls'

abbr --add v 'nvim'
abbr --add va 'nvim ~/work/workLog/a.md'
abbr --add dot 'chezmoi cd'
abbr --add cu 'chezmoi update'
abbr --add ca 'chezmoi apply'
abbr --add conf 'cd $HOME/.config'

{{ if (and (ne .chezmoi.hostname "matukoto-manjaro") (ne .chezmoi.hostname "DesktopFractal")) }}
# work
abbr --add work 'cd $HOME/work/workLog/'
abbr --add snsd 'cd $HOME/repo/local-dev-env/ut-tools/'
{{ else }}
# private
abbr --add dia 'cd $HOME/myself/diary/'
abbr --add shd 'cd $HOME/work/sh-dev/'
abbr --add god 'cd $HOME/work/go-dev/'
abbr --add vimd 'cd $HOME/work/vim-dev/'
abbr --add dockerd 'cd $HOME/work/docker-dev/'
abbr --add javad 'cd $HOME/work/java-dev/'
abbr --add grpcd 'cd $HOME/work/grpc-dev/'
abbr --add hobbyd 'cd $HOME/myself/hobby/'
abbr --add techd 'cd $HOME/myself/tech/'
{{ end }}
# vi
fish_vi_key_bindings

~/.local/bin/mise activate fish | source

zoxide init fish | source

starship init fish | source
end
