[user]
  email = keisuke.suke.san@gmail.com
  name = Keisuke.Matsumoto
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
#[credential]
  #helper = /usr/lib/git-core/git-credential-libsecret
  #helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[init]
  defaultBranch = main
[core]
  editor = vim
  commentChar = ";"
  quotepath = false
  eol = lf
  autocrlf = input
[pull]
  merge = ff-only
[commit]
  template = ~/dotfiles/git/.gitmessage
  verbose = true
[fetch]
  # fetch 時に自動で --prune を実行し、リモートで削除されたブランチをローカルでも削除してくれる
  prune = true
[rebase]
  # rebase 時に自動で stash
  autostash = true
# ghq で管理するディレクトリを指定
[ghq]
  root = ~/work
# git diff で difftastic を使う
[diff]
  external = difft
