{{- if (and (ne .chezmoi.hostname "matukoto-manjaro") (ne .chezmoi.hostname "DesktopFractal")) -}}
{{- include  "work/dot_gitconfig" -}}
{{- else -}}
{{- include "my_private_gitconfig" -}}
{{- end -}}

{{ if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
{{ end }}
{{ if eq .chezmoi.os "windows" }}
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ end }}
[init]
  defaultBranch = main
[core]
  editor = vim
	pager = delta
  commentChar = ";"
  quotepath = false
  eol = lf
  autocrlf = input
[pull]
  merge = ff-only
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[commit]
  verbose = true
[rebase]
  # rebase 時に自動で stash
  autostash = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	max-line-length = 0
  line-numbers = true
  side-by-side = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[diff]
  algorithm = histogram
  indentHeuristic = true
[ghq]
  root = ~/work
