{{- if (and (and (ne .chezmoi.hostname "matukoto-manjaro") (ne .chezmoi.hostname "DesktopFractal")) (ne .chezmoi.hostname "ThinkPadE14")) -}}
{{- include  "work/dot_gitconfig" -}}
{{- else -}}
[user]
  email = keisuke.suke.san@gmail.com
  name = MATSUMOTO Keisuke
  signingkey = 3341DFDA70AD7C39
[fetch]
  # fetch 時に自動で --prune を実行し、リモートで削除されたブランチをローカルでも削除してくれる
  prune = true
[gpg]
  program = /usr/bin/gpg
[commit]
  gpgsign = true
  template = ~/.config/vim/gitmessage
{{- end -}}

{{ if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[ghq]
  root = ~/work
{{ end }}

{{ if eq .chezmoi.os "windows" }}
[credential]
  helper = manager
[ghq]
  root = ~/Documents/workspace
{{ end }}
[init]
  defaultBranch = main
[core]
  editor = vim
	pager = delta
  commentChar = ";"
  quotepath = false
  eol = lf
  autocrlf = input
[pull]
  merge = ff-only
[push]
  autoSetupRemote = true
  useForceIfIncludes = true
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[log]
  date = format:%Y/%m/%d (%a) %H:%M:%S
[commit]
  verbose = true
[rebase]
  # rebase 時に自動で stash
  autostash = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	max-line-length = 0
  line-numbers = true
  side-by-side = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[diff]
  algorithm = histogram
  indentHeuristic = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[rerere]
  enabled = true
[alias]
  pushf = push --force-with-lease --force-if-includes
  mru = "!git log -g -n 1000 --format=\"%gd %gs\" --date=relative HEAD@{now} | grep checkout | grep \" to\" | sed 's/HEAD@{\\(.*\\)}.* to\\(.*\\)/(\\1)\\t\\2/' | awk -v OFS=' ' '!x[$NF]++' | head -n 15 | column -ts $'\\t'" -R 1
