{{- include "dot_config/nvim/plugin.d/CopilotChat.lua" -}}
{{- include "dot_config/nvim/plugin.d/aerial.lua" -}}
{{- include "dot_config/nvim/plugin.d/blamer.lua" -}}
{{- include "dot_config/nvim/plugin.d/chowcho.lua" -}}
{{- include "dot_config/nvim/plugin.d/comment.lua" -}}
{{- include "dot_config/nvim/plugin.d/conform.lua" -}}
{{- include "dot_config/nvim/plugin.d/dial.lua" -}}
{{- include "dot_config/nvim/plugin.d/smartbufs.lua" -}}
{{- include "dot_config/nvim/plugin.d/styler.lua" -}}
{{- include "dot_config/nvim/plugin.d/telescope.lua" -}}
{{- include "dot_config/nvim/plugin.d/term-edit.lua" -}}
{{- include "dot_config/nvim/plugin.d/project.lua" -}}
{{- include "dot_config/nvim/plugin.d/require.lua" -}}
{{- include "dot_config/nvim/plugin.d/hawtkeys.lua" -}}
{{- include "dot_config/nvim/plugin.d/hlchunk.lua" -}}
{{- include "dot_config/nvim/plugin.d/hlslens.lua" -}}
{{- include "dot_config/nvim/plugin.d/incline.lua" -}}
{{- include "dot_config/nvim/plugin.d/lspconfig.lua" -}}
{{- include "dot_config/nvim/plugin.d/lualine.lua" -}}
{{- include "dot_config/nvim/plugin.d/none-ls.lua" -}}
{{- include "dot_config/nvim/plugin.d/nvim-lastplace.lua" -}}
{{- include "dot_config/nvim/plugin.d/nvim-treesitter.lua" -}}
{{- include "dot_config/nvim/plugin.d/oil.lua" -}}
{{- include "dot_config/nvim/plugin.d/gitsigns.lua" -}}
