format = """
$hostname\
$localip\
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$fossil_branch\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$env_var\
$crystal\
$custom\
$sudo\
$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$shell\
$character\
"""
right_format = """
$cmd_duration\
$username\
$time
"""
# ---- General ----

[shell]
    disabled = false
    bash_indicator = ' '
    zsh_indicator = '󰰶 '
    powershell_indicator = ' '
    cmd_indicator = ' '
    fish_indicator = '󰈺'

[directory]
    truncation_length = 0
    truncate_to_repo = false
    style = 'bold #777777'
    before_repo_root_style = 'bold #777777'
    repo_root_style = 'bold blue'
    format = '''[$path]($style)[$read_only]($read_only_style)'''
    repo_root_format = """[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[ 󰊢 $path](bold #F1502F)[$read_only]($read_only_style) """

[sudo]
    format = '[as $symbol]($style)'

[git_branch]
    format = '[$symbol$branch]($style) '
    symbol = ' '

[git_status]
    format = '[$all_status$ahead_behind]($style)'
    ahead = '󰇘  ${count} '
    behind = '󰇘  ${count} '
    diverged = '󰇘  ${ahead_count}  ${behind_count}'
    typechanged = '[󰑕 ${count}](bold #FF7777) '
    conflicted = ' ${count} '
    stashed = '󰽄 ${count} '
    deleted = '[ ${count}](bold red) '
    renamed = '[󰮆 ${count}](bold #FF7777) '
    modified = '[ ${count}](bold blue) '
    staged = '[󰆼 ${count}](bold yellow) '
    untracked = '[ ${count}](bold green) '

[character]
    success_symbol = '[❯](bold #777777)'
    error_symbol = '[❯❯❯](bold red)'

[time]
    format = '[$time](bold yellow)'
    disabled = false

[custom.svelte]
    command = """
grep -oP '(?<="version": ").+(?=")' node_modules/svelte/package.json
"""
    detect_files = ['svelte.config.js']
    format = '[$symbol(v$output)]($style)'
    style = 'bold red'
    symbol = ' '
