---
name: aqua-update-checksum

"on":
  pull_request:
    paths:
      - dot_config/aquaproj-aqua/aqua.yaml

jobs:
  update-checksum:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # v6.0.2
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      # v4.1.1
      - uses: aquaproj/aqua-installer@0d9bbff5b5efc37244b8271be7e59cb25fbc8366
        with:
          aqua_version: v2.56.5
          aqua_opts: '--config dot_config/aquaproj-aqua/aqua.yaml'
        env:
          AQUA_CONFIG: dot_config/aquaproj-aqua/aqua.yaml
      # v0.2.5
      - uses: >-
          aquaproj/update-checksum-action@v0.2.7
        with:
          aqua_yaml: dot_config/aquaproj-aqua/aqua.yaml
          prune: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
