---
name: aqua-update-checksum

"on":
  pull_request:

jobs:
  update-checksum:
    if: contains(github.head_ref, 'renovate')
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: aquaproj/aqua-installer@7053e18161e62dffa977457ced6cd24d6c3dda24 # v4.1.1
        with:
          aqua_version: v2.56.6
        env:
          AQUA_CONFIG: dot_config/aqua/aqua.yaml
      - uses: aquaproj/update-checksum-action@c5df5a5c2a897a9b807068f062140506d092e7ac # v0.2.7
        with:
          prune: true
          working_directory: dot_config/aqua
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
