name: chezmoi-test
on:
  - push
jobs:
  test:
    name: ubuntu-test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run chezmoi init and apply
        run: sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply
